#main-head{
  color: mediumvioletred;
  border: 5px solid black;
  padding: 1px;
  text-align: center;
  background-color: lightgrey;
  font-size: 22px;
}

p{
   text-align: center;
   color: blueviolet;
}

p:hover{
  color: hotpink;
}
